<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>ÎÞ±êÌâÎÄµµ</title>
</head>

<body>
<p><strong>AddStory and Tasks:</strong></p>
<p>&nbsp;</p>
<form action="" method="post" enctype="multipart/form-data" name="form2" id="form2">
  <label>storyTitle
  <input type="text" name="textfield" />
  </label>
  <p>
    <label>Description
    <textarea name="textarea"></textarea>
    </label>
  </p>
  <p>
    <label>Priority
    <select name="sPriority">
    <option value="high">High</option>
    <option value="medium">Medium</option>
    <option value="low">Low</option>
    </select>
    </label>
  </p>
  <p>
    <label>Deadline
    <input type="text" name="textfield2" />
    </label>
  </p>
  <p>&nbsp;</p>
  <p>
    <label>taskTitle 
    <input type="text" name="textfield3" />
    </label>
  </p>
  <p>
    <label>Priority
    <select name="tPriority">
	<option value="high">High</option>
	<option value="medium">Medium</option>
	<option value="low">Low</option>
    </select>
    </label>
  </p>
  <p>
    <label>Deadline
    <input type="text" name="textfield4" />
    </label>
  </p>
  <p>&nbsp;</p>
  <p>
    <label>
    <input type="submit" name="Submit" value="Submit" />
    </label>
  </p>
</form>
</body>
</html>
